@keyframes blink {
}

.boxNavbar{
    position: sticky;
    color: rgb(240, 240, 240);
}

.logo{
    filter: drop-shadow(2px 2px 6px #28a3e8);
}

.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}


.itemList {
    text-decoration: none;
    color: inherit
}