@keyframes blink {
}

.boxNavbar{
    position: sticky;
    color: rgb(240, 240, 240);
}

.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}


.itemList {
    text-decoration: none;
    color: inherit
}