@keyframes blink {
}

.boxNavbar{
    position: sticky;
    color: rgb(240, 240, 240);
}

.logo{
    filter: drop-shadow(6px 2px 4px #4444dd);
}

.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}


.itemList {
    text-decoration: none;
    color: inherit
}